{% load static %}
<section class="mh-service">
    <div class="container">
        <div class="row section-separator">
            <div class="col-sm-12 text-center section-title wow fadeInUp" data-wow-duration="0.8s" data-wow-delay="0.2s">
                <h2>WHAT I DO FOR YOU</h2>
            </div>
            <div class="col-md-4 col-sm-12">
                <div class="mh-service-item shadow-1 dark-bg wow fadeInUp" data-wow-duration="0.8s" data-wow-delay="0.3s">
                    <i class="fa fa-cog" aria-hidden="true"></i>
                    <h3>WHY CHOOSE Me.</h3>
                    <p>
                        Like other skilled front-end developers, I have experience with HTML5, CSS3, JS,
                        and all the other usual techniques. I work hard so that project manager won't worry
                        about my deadline.
                    </p>
                </div>
            </div>
            <div class="col-md-4 col-sm-12">
                <div class="mh-service-item shadow-1 dark-bg wow fadeInUp" data-wow-duration="0.8s" data-wow-delay="0.5s">
                    <i class="fa fa-laptop" aria-hidden="true"></i>
                    <h3>WHAT I DO.</h3>
                    <p>
                        * Using framework(django) to build website.<br>
                        * Designing and editing web pages contents.<br>
                        * Front-end development.<br>
                        * Back-end development.
                    </p>
                </div>
            </div>
            <div class="col-md-4 col-sm-12">
                <div class="mh-service-item shadow-1 dark-bg wow fadeInUp" data-wow-duration="0.8s" data-wow-delay="0.7s">
                    <i class="fa fa-thumbs-o-up" aria-hidden="true"></i>
                    <h3>My MISSION.</h3>
                    <p>
                        My mission is to focuses on the backend or server-side of Web delivery to ensure that a
                        website function works correctly and efficiently also user friendly for clients.
                    </p>
                </div>
            </div>
        </div>
    </div>
</section>